*.apk
*.aab
*.ap_
*.aar

*.dex

*.class

bin/
gen/
out/

.gradle/
build/
*/build/

local.properties

*.iml
.idea/
.navigation/
captures/

.externalNativeBuild
.cxx/

/app/build/generated/ksp/

*.log

.DS_Store
Thumbs.db